<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Acr.Connect.WinForms.RefreshTokenSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings>
            <setting name="RedirectUrl" serializeAs="String">
                <value>https://localhost:44307/Connect</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>openid</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>5c20a260e08f4b7c9602b469df296b55</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>1c7c6baf59f420c0907b9281fa3d21fcca26f60b8dd4d3dea22e75b11f882713</value>
            </setting>
            <setting name="AuthenticationServiceUrl" serializeAs="String">
                <value>https://acr-id-test.acr.org/nrdr-userlogin</value>
            </setting>
        </Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings>
    </applicationSettings>
</configuration>