<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Acr.Connect.WinForms.RefreshTokenSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings>
            <setting name="RedirectUrl" serializeAs="String">
                <value>[Redirect URL]</value>
            </setting>
            <setting name="Scope" serializeAs="String">
                <value>[Scope]</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>[Client ID]</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>[Client Secret]</value>
            </setting>
            <setting name="AuthenticationServiceUrl" serializeAs="String">
                <value>[Authentication Service URL]</value>
            </setting>
        </Acr.Connect.Samples.WinForms.RefreshToken.Properties.Settings>
    </applicationSettings>
</configuration>